:root {
  --vtm-bg: #0c0a09;
  --vtm-red: #991B1B;
  --vtm-gold: #FACC15;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--vtm-bg);
  background-image: url('https://www.transparenttextures.com/patterns/dark-leather.png');
  color: #d1d5db;
}

h1, h2, h3, h4 {
  font-family: 'Cinzel Decorative', serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  letter-spacing: 1px;
}

.nav-link.active,
.discipline-btn.active {
  background-color: var(--vtm-red);
  color: #F3F4F6;
}

.discipline-btn.active {
  border-left-color: var(--vtm-gold);
}

#back-to-top {
  transition: opacity 0.3s, visibility 0.3s;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}
